{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="page">

        <div class="centered">

            {{ form_start(requestForm, { attr: { class: 'form' } }) }}

            <div class="form-row">
                {{ form_label(requestForm.email) }}
                {{ form_widget(requestForm.email) }}
            </div>


            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="underline text-orange-600" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div>
                <small class="italic">
                    Enter your email address, and we will send you a link to reset your password.
                </small>
            </div>

            <button class="form_primary-btn">Send password reset email</button>

            {{ form_end(requestForm) }}

        </div>

    </div>

{% endblock %}
